<div class="alert alert-success text-center" role="alert">
  <h1>Đội ngũ phát triển</h1>
</div>
<div style="text-align: right;padding: 15px;"><a  class="classname" onclick="toggleShape()">Đổi kiểu</a></div>
<div id="container">
  <div id="stage">
    <div id="shape" class="cube backfaces">
      <div class="plane one"></div>
      <div class="plane two"></div>
      <div class="plane three"></div>
      <div class="plane four"></div>
      <div class="plane five"></div>
      <div class="plane six"></div>
      <div class="plane seven"></div>
      <div class="plane eight"></div>
      <div class="plane nine"></div>
      <div class="plane ten"></div>
      <div class="plane eleven"></div>
      <div class="plane twelve"></div>
    </div>
  </div>
</div>
