<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update Password</title>
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
<div class="breadcrumb_background margin-bottom-40">
  <div class="title_full">
    <div class="container a-center">
      <p class="title_page">Thay Đổi Mật Khẩu</p>
    </div>
  </div>
</div>
<div class="bg_base_lr">
  <div class="container">
    <div class="row">
      <div class="col-sm-3" style="max-width:350px;"></div>
      <div class="col-sm-6" style="">
        <form name="form" [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            Nhập mật Khẩu cũ
            <input type="password" class="form-control" formControlName="password" placeholder="Password"/>
            <div class="alert alert-danger" role="alert"
                 *ngIf="updatePasswordForm.get('password').invalid && updatePasswordForm.get('password').touched">
              Mật khẩu gồm 6 ký tự
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="!message">
              Mật khẩu cũ không đúng
            </div>
          </div>

          <div class="form-group">
            Nhập mật khẩu mới
            <input type="password" class="form-control" formControlName="newPassword" placeholder="New Password"/>
            <div class="alert alert-danger" role="alert"
                 *ngIf="updatePasswordForm.get('newPassword').invalid && updatePasswordForm.get('newPassword').touched">
              Mật khẩu gồm 6 ký tự
            </div>
          </div>

          <div class="form-group">
            Xác thực mật khẩu mới
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="ConfirmPassword">
          </div>
          <div class="alert alert-danger" role="alert"
               *ngIf="updatePasswordForm.hasError('notSame')&&updatePasswordForm.get('confirmPassword').touched">
            Password không giống
          </div>

          <div class="alert alert-success" role="alert" *ngIf="check==='true'">
            Mật khẩu đã được thay đổi
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="check==='false'">
            Thay đổi mật khẩu thất bại
          </div>

          <div class="form-group">
            <button class="btn btn-primary" type="submit">Đổi Mật Khẩu</button>
          </div>
        </form>
      </div>
      <div class="col-sm-3" style="max-width:350px;"></div>
    </div>
  </div>
</div>
</body>
</html>
