<a class="btn btn-primary" (click)="bachToHome()">Quay về trang chủ</a>
<br>
<br>
<h3 class="text-success">Thông tin Sản phẩm : {{product.name}}</h3>
<br>
<table class="table table-bordered">
  <tr>
    <th>Name : </th>
    <td>{{product.name}}</td>
  </tr>
  <tr>
    <th>Category : </th>
    <td>{{product.category.name}}</td>
  </tr>
  <tr>
    <th>Amount : </th>
    <td>{{product.amount}}</td>
  </tr>
  <tr>
    <th>Picture : </th>
    <td *ngFor="let image of product.picture">
      <img src="{{image.name}}" width="100px" height="100px" alt="">
    </td>
  </tr>
  <tr>
    <th>Description : </th>
    <td>{{product.description}}</td>
  </tr>
  <tr>
    <th>Price : </th>
    <td>{{product.price}}</td>
  </tr>
  <tr>
    <th>Origin : </th>
    <td>{{product.origin}}</td>
  </tr>
  <tr>
    <th>Provider : </th>
    <td>{{product.provider.name}}</td>
  </tr>
</table>


